<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <h1>Welcome to Admin Dashboard</h1>

    <h2>Menu Management</h2>
    <a href="{{ url_for('admin_manage_menu') }}">Manage Menu</a><br /><br />

    <h2>Order Management</h2>
    <a href="{{ url_for('admin_manage_orders') }}">Manage Orders</a><br /><br />

    <h2>Order Status Update</h2>
    <a href="{{ url_for('admin_update_order_status') }}">Update Order Status</a
    ><br /><br />

    <h2>View All Orders</h2>
    <a href="{{ url_for('admin_view_all_orders') }}">View All Orders</a
    ><br /><br />

    <h2>Filter Orders</h2>
    <a href="{{ url_for('admin_filter_orders') }}">Filter Orders by Status</a
    ><br /><br />

    <a href="{{ url_for('logout') }}">Logout</a>
  </body>
</html>
