{% extends 'base.html' %} {% block content %}
<h1>Update Menu Item</h1>
<form method="POST" action="/update_item">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.menu_id.label(class="form-control-label") }} {{
    form.menu_id(class="form-control", placeholder="Menu ID") }}
  </div>
  <div class="form-group">
    {{ form.name.label(class="form-control-label") }} {{
    form.name(class="form-control", placeholder="New Item Name") }}
  </div>
  <div class="form-group">
    {{ form.description.label(class="form-control-label") }} {{
    form.description(class="form-control", placeholder="New Description") }}
  </div>
  <div class="form-group">
    {{ form.price.label(class="form-control-label") }} {{
    form.price(class="form-control", placeholder="New Price") }}
  </div>
  <div class="form-group">
    {{ form.availability.label(class="form-check-label") }} {{
    form.availability(class="form-check-input") }}
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
